{% extends "_base.html" %}

<!-- Currently trying to user an imported Song() class and use .query.get(item.song_id) on it-->

<!-- Exports header and navbar from header.html 
     or any file you want-->
{% block title %}Page Not Found{% endblock %} 
{% block content %} 
     <h1>TEST PAGE --- testing the Playlist().items.song_id extraction</h1> 
     <h2>Here are the playlist items</h2>
     {% for item in template_playlist.items %}
          <!-- <h2> That item does have the song_id attribute!</h2> -->
          {% for song_child in template_songs %}
          {% if song_child.id == item.id %}
               <p>{{ song_child.title }}</p>
          {% endif %}
     {% endfor %}
     
     {% endfor %}

     <a href={{url_for('greeting')}}><p>Click Here</a>To go to back to the Initial greeting page</p> 
     {% endblock %} 